<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Form</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/login.css') }}">
</head>
<body>
    <form action="{{ url_for('login') }}" method="post" >
    <div class="screen-1">
     <div class="logo" style="width: 300px; height: 300px;display: flex; justify-content: center; align-items: center;">
    <span style="font-size: 24px; font-weight: 600px;">Let's Start!</span>
                        </div>

        <div class="email">
            <label for="username">User Id</label>
            <div class="sec-2">
                <ion-icon name="username"></ion-icon>
                <input type="text" name="username" placeholder="Userid123456">
            </div>
        </div>

        <div class="password">
            <label for="password">Password</label>
            <div class="sec-2">
                <ion-icon name="lock-closed-outline"></ion-icon>
                <input type="password" name="password" placeholder="············">
                <ion-icon class="show-hide" name="eye-outline"></ion-icon>
            </div>
        </div>

        <button class="login">Login</button>

        <div class="footer">
            <span>Sign up</span>
            <span>Forgot Password?</span>
        </div>
    </div>
</body>
</html>

