<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/main.css') }}">
  <title>Main Page</title>
</head>
<body>
  <div class="text">
    <text alt="welcome">Welcome!</text>
  </div>

  <div class="bar">
    <input class="searchbar" type="text" title="Search" placeholder="Search">
  </div>

  <div class="buttons">
     <a href="{{ url_for('stock_update') }}">
      <button class="button" type="button">Update Stock</button>
    </a>
    <a href="{{ url_for('sales_update') }}">
      <button class="button" type="button">Update Sales</button>
    </a>
  </div>

  <div class="buttons">
    <a href="{{ url_for('discount_update') }}">
      <button class="button" type="button">Update Discount</button>
    </a>
    <a href="{{ url_for('new_product') }}">
      <button class="button" type="button">New product</button>
    </a>
  </div>
</body>
</html>
