<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/new.css') }}">
    <title>New Product</title>
</head>
<body>
    <div class="container">
        <h1>What's New ?</h1>
        <form id="newProductForm" action="/add_product" method="POST">
            <div class="row">
                <div class="column">
                    <label for="category">Category:</label>
                    <input type="text" name="category" id="category">
                </div>
                <div class="column">
                    <label for="item">Item:</label>
                    <input type="text" name="item" id="item">
                </div>
            </div>
            <div class="row">
                <div class="column">
                    <label for="brand_name">Brand Name:</label>
                    <input type="text" name="brand_name" id="brand_name">
                </div>
                <div class="column">
                    <label for="model_name">Model Name:</label>
                    <input type="text" name="model_name" id="model_name">
                </div>
            </div>
            <div class="row">
                <div class="column">
                    <label for="specifications">Specifications:</label>
                    <textarea name="specifications" id="specifications"></textarea>
                </div>
            </div>
            <div class="row">
                <div class="column">
                    <label for="price">Price:</label>
                    <input type="number" name="price" id="price">
                </div>
            </div>
            <div class="row">
                <button type="submit">Add Product</button>
            </div>
        </form>
    </div>
</body>
</html>


